<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Street</dt>
      <dd><%= @restaurant.street %></dd>

      <dt>City</dt>
      <dd><%= @restaurant.city %></dd>

      <dt>State</dt>
      <dd><%= @restaurant.state %></dd>

      <dt>Zipcode</dt>
      <dd><%= @restaurant.zipcode %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurant.neighborhood %></dd>

      <dt>Total stars</dt>
      <dd><%= @restaurant.total_stars %></dd>

      <dt>Total reviews</dt>
      <dd><%= @restaurant.total_reviews %></dd>

      <dt>Price</dt>
      <dd><%= @restaurant.price %></dd>

      <dt>Latitude</dt>
      <dd><%= @restaurant.latitude %></dd>

      <dt>Longitude</dt>
      <dd><%= @restaurant.longitude %></dd>

      <dt>Cover image</dt>
      <dd><%= @restaurant.cover_image %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ratings
      </li>

      <% @restaurant.ratings.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many restaurant_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant_tags
      </li>

      <% @restaurant.restaurant_tags.each do |restaurant_tag| %>
        <li class="list-group-item">
          <a href="/restaurant_tags/<%= restaurant_tag.id %>">
            <%= restaurant_tag.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many owners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Owners
      </li>

      <% @restaurant.owners.each do |owner| %>
        <li class="list-group-item">
          <a href="/owners/<%= owner.id %>">
            <%= owner.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @restaurant.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.type %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many customers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Customers
      </li>

      <% @restaurant.customers.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many ownerships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ownerships
      </li>

      <% @restaurant.ownerships.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
